# Firebase logs
firebase-debug.log
.firebase/

# Dependencies & Build Outputs
node_modules/
www/
android-icons/capacitor-cordova-android-plugins/.gradle/
android-icons/capacitor-cordova-android-plugins/build/
